<h2 class="page-header page-header-pink">Search Authors</h2>
<form action="/authors" method="GET">
    <div class="form-row aqua">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<br>
<ul class="authors-list">
    <% authors.forEach(author => { %>
        <li>
            <div class="author-row">
                <div class="author-name"><%= author.name %></div>
                <div class="btn-row">
                    <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
                    <a class="btn btn-secondary" href="/authors/<%= author.id %>/edit">Edit</a>
                    <%- include('../partials/deleteForm.ejs', {url: `/authors/${author.id}`}) %>     <!-- url is sent as a javascript variable, not as ejs -->
                </div>
            </div>
        </li>
    <% }) %>
</ul>